@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-primary-dark;
    @apply text-light-tan;
  }
  button {
    @apply h-full;
    @apply font-semibold;
    @apply hover:opacity-70;
  }
  a {
    @apply underline;
    @apply text-yellow;
  }
  u {
    @apply decoration-4;
    @apply underline-offset-8;
    @apply sm:decoration-[6px];
    @apply sm:underline-offset-8;
    @apply decoration-secondary-dark;
  }
  h1 {
    @apply text-4xl;
    @apply leading-[45px];
    @apply sm:text-[60px];
    @apply sm:leading-[75px];
  }

  h2 {
    @apply text-3xl;
    @apply sm:text-[42px];
    @apply sm:leading-[52.5px];
  }

  details {
    @apply py-6;
    @apply border-dotted;
    @apply border-b;
    @apply border-brand-gray;
  }

  summary {
    @apply font-bold;
  }

  summary::after {
    margin-left: 1ch;
    display: inline-block;
    content: '+';
    transform: scale(1.5);
    transition: 0.2s;
    float: right;
    @apply text-yellow;
  }

  details[open] > summary::after {
    transform: scale(1.5) rotate(-45deg);
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }

  input {
    @apply bg-transparent;
    @apply w-full;
    @apply focus:outline-none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button-primary {
    @apply text-navy;
    @apply bg-secondary-dark;
  }

  .button-secondary {
    @apply text-light-navy;
  }

  .textfield {
    position: relative;
    @apply py-4 px-5;
    @apply rounded-2xl;
    @apply border-dotted;
    @apply border;
    @apply border-brand-gray;
  }
}
